<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base/base.html' %}
{% block content %}<h1>Homepage</h1>{% endblock %}
</body>
</html>